<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avaya.wiki.mapper.AppUserMapper">

    <resultMap id="AppUserResultMap" type="com.avaya.wiki.domain.AppUser">
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="status" column="status" typeHandler="com.avaya.wiki.mybatis.handler.UserStatusTypeHandler"/>
    </resultMap>

    <select id="getById" resultMap="AppUserResultMap">
        SELECT username, email, nickname, avatar_url, status
        FROM public.app_user
        WHERE id = #{id}
    </select>

    <select id="list" resultMap="AppUserResultMap">
        SELECT username, email, nickname, avatar_url, status
        FROM public.app_user
        <where>
            <if test="nickname != null and nickname != ''">
                nickname LIKE CONCAT('%', #{nickname}, '%')
            </if>
        </where>
        ORDER BY id
        <if test="limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getTotal" resultType="int" parameterType="com.avaya.wiki.request.AppUserQueryRequest">
        SELECT COUNT(*) FROM public.app_user
        <if test="nickname != null and nickname != ''">
            WHERE nickname LIKE CONCAT('%', #{nickname}, '%')
        </if>
    </select>
</mapper>