<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avaya.wiki.mapper.AppUserMapper">

    <resultMap id="AppUserResultMap" type="com.avaya.wiki.domain.AppUser">
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="status" column="status" typeHandler="com.avaya.wiki.mybatis.handler.UserStatusTypeHandler"/>
    </resultMap>

    <select id="getById" resultType="com.avaya.wiki.domain.AppUser">
        SELECT username, email, nickname, status
        FROM public.app_user
        WHERE id = #{id}
    </select>
</mapper>