<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avaya.wiki.mapper.EbookMapper">
    <insert id="create" parameterType="com.avaya.wiki.domain.Ebook">
        INSERT INTO public.ebook (id, name, cat1_id, cat2_id, desc_text, cover_url, doc_url, doc_type, version, views,
        likes)
        VALUES (#{id}, #{name}, #{cat1Id}, #{cat2Id}, #{descText}, #{coverUrl}, #{docUrl}, #{docType}, #{version},
        #{views}, #{likes})
    </insert>
    <select id="getById" resultType="com.avaya.wiki.domain.Ebook">
        SELECT id, name, cat1_id, cat2_id, desc_text, cover_url, doc_url, doc_type, version, views, likes
        FROM public.ebook
        WHERE id = #{id}
    </select>
    <update id="update" parameterType="com.avaya.wiki.domain.Ebook">
        UPDATE public.ebook
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="cat1Id != null">
                cat1_id = #{cat1Id},
            </if>
            <if test="cat2Id != null">
                cat2_id = #{cat2Id},
            </if>
            <if test="descText != null">
                desc_text = #{descText},
            </if>
            <if test="coverUrl != null">
                cover_url = #{coverUrl},
            </if>
            <if test="docUrl != null">
                doc_url = #{docUrl},
            </if>
            <if test="docType != null">
                doc_type = #{docType},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="list" resultType="com.avaya.wiki.domain.Ebook" parameterType="com.avaya.wiki.request.EbookQueryRequest">
        SELECT *
        FROM public.ebook
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="cat1Id != null">
                AND cat1_id = #{cat1Id}
            </if>
            <if test="cat1Id != null">
                AND cat2_id = #{cat2Id}
            </if>
        </where>
        ORDER BY id
        <if test="limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>
    <delete id="delete">
        DELETE
        FROM public.ebook
        WHERE id = #{id}
    </delete>
    <select id="getTotal" resultType="int" parameterType="com.avaya.wiki.request.EbookQueryRequest">
        SELECT COUNT(*) FROM public.ebook
        <if test="name != null and name != ''">
                WHERE name LIKE CONCAT('%', #{name}, '%')
        </if>
    </select>
    <select id="existsByIdRaw" resultType="int">
        SELECT 1
        FROM public.ebook
        WHERE id = #{id}
        LIMIT 1
    </select>
</mapper>